In [1]:
# Agenda
1.Variable Case senstivity
2. Reserved word in Python
3. Multi Assignment of variables
4. User Input
5. Casting
6. Memory block
7.OPerators {logical or Equality or Comparision or Arthimatic operators or Bitwise}
8. operators for sets and dictionaries
9. String Methods

SyntaxError: invalid decimal literal (2190183885.py, line 2)

TEN = 10
ten = 20
print(f"TEN {TEN} - ten {ten}")

# Multi Assignment of variables
Basics

In [ ]:
a, b, c = 10, 20, "Phani"
print(f" Type of A - {type(a)} \n Type of B - {type(b)} \n Type of C - {type(c)}")

In [ ]:
a, A, b, B = 10, 20.22, "Phani", True
print(a, A, b, B)

# User Input
.Enter a number

In [3]:
name = input("Enter your name : ")
print(f"You have enetered : {name}")

Enter your name : Phani
You have enetered : Phani

In [10]:
A = input("Enter Value of A :")
B = input("Enter Value of B :")
print(f"Sum of A + B : {float(A)+float(B)} ")

Enter Value of A :10
Enter Value of B :22.3
Sum of A + B : 32.3

# Casting

In [14]:
A = "50"
print(f"data type Before : {type(A)}")
A = int(A)
print(f"data type After: {type(A)}")

data type Before : <class 'str'>
data type After: <class 'int'>

In [19]:
#float to integer
A = 50.25
print(f"data type Before : {type(A)}")
A = int(A)
print(f"data type After: {type(A)}")
print(f"data type After: {A}")

data type Before : <class 'float'>
data type After: <class 'int'>
data type After: 50

In [22]:
# integer to float 
A = 50
print(f"data type Before : {type(A)} \n value of A {A}")
A = float(A)
print(f"data type After: {type(A)} \n value of A {A}")

data type Before : <class 'int'>
 value of A 50
data type After: <class 'float'>
 value of A 50.0

In [23]:
# integer to Boolean 
A = 10
print(f"data type Before : {type(A)} \n value of A {A}")
A = bool(A)
print(f"data type After: {type(A)} \n value of A {A}")

data type Before : <class 'int'>
 value of A 10
data type After: <class 'bool'>
 value of A True

In [24]:
# integer to Boolean 
A = 0
print(f"data type Before : {type(A)} \n value of A {A}")
A = bool(A)
print(f"data type After: {type(A)} \n value of A {A}")

data type Before : <class 'int'>
 value of A 0
data type After: <class 'bool'>
 value of A False

In [26]:
# integer to Boolean 
A = 1
print(f"data type Before : {type(A)} \n value of A - {A}")
A = bool(A)
print(f"data type After: {type(A)} \n value of A - {A}")

data type Before : <class 'int'>
 value of A - 1
data type After: <class 'bool'>
 value of A - True

In [27]:
# integer to Boolean 
A = -5
print(f"data type Before : {type(A)} \n value of A - {A}")
A = bool(A)
print(f"data type After: {type(A)} \n value of A - {A}")

data type Before : <class 'int'>
 value of A - -5
data type After: <class 'bool'>
 value of A - True

# only '0' will return as false , rest all will return as True

In [29]:
# empty string to Boolean 
A = "" # empty string will treat as false as part of cast
print(f"data type Before : {type(A)} \n value of A - {A}")
A = bool(A)
print(f"data type After: {type(A)} \n value of A - {A}")

data type Before : <class 'str'>
 value of A -
data type After: <class 'bool'>
 value of A - False

In [30]:
# empty string to Integer 
A = "" 
print(f"data type Before : {type(A)} \n value of A - {A}")
A = int(A)
print(f"data type After: {type(A)} \n value of A - {A}")

data type Before : <class 'str'>
 value of A -

ValueError: invalid literal for int() with base 10: ''

# Calculate the age of the User

In [40]:
fName = input("FName : ")
lName = input("LName : ")
year_of_birth = input("Year of Birth : ")
import datetime
today = datetime.date.today()
year = today.year
print(f"As of today {today}")
year = today.year
age = year-int(year_of_birth)
print(f"{fName} - {lName} Age {age}")

FName : Phani
LName : Bussa
Year of Birth : 1986
As of today 2023-04-07
Phani - Bussa Age 37

# Memory Block

In [47]:
a = 22 # both a and c has same value , in memory it will assign same block 
b = 33
c = 22
id(a)

1414924403600

In [48]:
id(b)

1414924403952

In [45]:
id(c)

1414924403600

# Assignments:
    1.Find out all the type of errors that we have encountered during the class and also include the examples 
    2.Take input A and B , print their SUM, MUL, div and sq of the numbers.
    3.How many reserve keywords in Python why we should not use them as a variable